.form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  max-width: 270px;
  max-height: 500px;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 8px;
  background: #fff;
  border-radius: 5px;
  overflow: visible;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.searchField {
  margin: 8px 0;
}

.btn {
  margin-top: 8px;
}