.card {
  width: 250px;
  padding: 12px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  line-height: 1.3;
  min-height: calc(1.3em * 2);
}

.location {
  display: flex;
  align-items: center;
  gap: 6px;
}

.flag {
  width: 20px;
  height: 14px;
  object-fit: cover;
  border-radius: 2px;
}

.price {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.link {
  text-decoration: none;
}
